.discover-card {
    z-index: 99;
    
    position: relative;

    width: 350px;
    height: 350px;

    font-size: 0.9em;

    background-size: cover;

    border-radius: 15px;

    margin: 0 30px 60px 30px;

    transition: 250ms;
}

.discover-card:hover {
    transform: scale(1.03);
    transition: 500ms;
}

.discover-restaurant {
    display: flex;
    align-items: center;

    padding: 5px 20px;

    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.discover-restaurant-name:hover {
    color: #ed9b14;
}

.discover-restaurant-icon {
    margin-right: 8px;
}

.discover-rating {
    position: absolute;
    bottom: 0;

    width: 100%;

    display: flex;
    align-items: center;

    padding: 5px 20px;
    
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.discover-star {
    margin-right: 8px;
}
